body{
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    margin: 5px;
}
.inicio {
    background-image: url('../img/fondo.png');   
    width: 80% auto;
    height:100vh;
    margin-left: 20px;
    margin-right: 20px;
    background-size: cover;
}

#tasks{
    margin: 0;
    width: 100% auto;
    padding: 0;
 }

.ok{
    text-align: center;
    width: 100%;
    padding: 0px;
    color:green; 
    border-color: blueviolet;
    font-family: Cooper;
  }

  .bad{
    text-align: center;
    width: 100%;
    padding: 0px;
    color:red;
    border: 2 blueviolet;
    font-family: Cooper;
  }

.informacion{
    font-family: fantasy;
    padding: 50px;
    font-size: 50px;
    color: white;
}

.cabecera {
    background-color: black;
    padding: 5px;
}
.cabecera h3{
    color: white;
}
.cabecera a{
    float: right;
    padding-right: 10px;
    color: white;
}

#cabecera tr{
    background-color: black;
    color: lavenderblush;
}
#m-cabecera{
    color: white;
    margin-right: 50px;
}

tr{
    background-color:lightblue;
}

.welcome{
    color: white;
}

input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;

}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cd;
    width: 300px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #00b8eb;
}


@media(max-width: 767px) {
    #task-form {
        margin:0px;
      }
        #contenedor {
          padding: 0;
          padding-top: 20px;
      }
  
      #lista1{
          margin: 0;
      }
      #cabecera{
          margin: 0;
      }

      #cabecera tr{
        font-size: 12px;
    }
    tr{
        font-size: 10px;
    }
    tr img{
        width: 10px;
    }
  
  }
  
  @media(min-width: 768px) {
  
     .contenido table {
      margin: auto; 
      padding: 1px;
      width: 100%;  
      background-color: blue; 
      border-collapse: separate; 
      border-spacing: 0px 1px; 
      text-align: center;
      font-size: 14px;
    }
  
    .contenido thead{
      font-family: Cooper; 
      background-color: blue;
      color: #fff;
      font-size: 14px;
    }
  
    .col-sm-12 thead{
      font-family: Cooper; 
      background-color: blue;
      color: #fff;
      font-size: 14px;
    }
  
  }
  